<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (products.length > 0) { %>
                <div class="cart">
                    <h1>Your Cart</h1>
                    <ul>
                        <% products.forEach(p => { %>
                            <li>
                                <p>
                                    <%= p.productData.title %> - <%= p.qty %> x $<%= p.productData.price %> = $<%= p.productData.price * p.qty %>  
                                </p>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" name="productId" value="<%= p.productData.id %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form> 
                            </li>
                        <% }) %>
                    </ul>
                    <form action="/cart/checkout" method="POST">
                        <button type="submit">Checkout</button>
                    </form>
                </div>
            <% } else { %>
                <div class="cart">
                    <h1>Your Cart</h1>
                    <p>Your cart is empty</p>
                </div>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>